server:
  port: 8082

spring:
  application:
    name: SERVICE-VOITURE
  cloud:
    consul:
      host: localhost
      port: 8500
      discovery:
        service-name: SERVICE-VOITURE
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password: 
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
  h2:
    console:
      enabled: true

management:
  endpoints:
    web:
      exposure:
        include: health,info

